@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Helvetica, Arial;
	font-size: 28px;
	color: #fff;
	background-color: #222;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKklEQVQIW2M0MzX7f+r0KQYzUzMGEICxGRkYGP6DBEECIABjM+LUQT2jADF3LIUJbZ9tAAAAAElFTkSuQmCC) repeat;
}

h1 {
	margin: 0;
	font-size: 50px;
	text-align: center;
	font-family: 'Dancing Script', Helvetica, Arial;
}

p {
	line-height: 140%;
	letter-spacing: 1px;
}

a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:hover {
	text-decoration: none;
	border-bottom: 1px dashed;
}

#nav {
	margin: 0;
	padding: 0;
	background-color: #333;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKklEQVQIW2NkYGD4HxkeybB85XIGEICxGSPDI/+DBEECIABjM+LUQT2jAPX1LBMNkrqMAAAAAElFTkSuQmCC) repeat;
}

#subheader {
	text-align: center;
	font-size: 28px;
	font-family: 'Dancing Script', Helvetica, Arial;
	margin-left: 3em;
}

#favourites {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 16px;
}

#favouritesBox {
	position: absolute;
	top: 40px;
	left: 10px;
	padding: 10px;
	background-color: #333;
	font-size: 16px;
	z-index: 1000000;
	border: 1px solid black;
}

#favouritesBox a {
	line-height: 22px;
	border: none;
}

#map {
	width: 100%;
}

.instagram {
	padding: 10px 0 ;
	text-align: center;
	font-family: 'Dancing Script', Helvetica, Arial;
}

.instagram a {
	border: none;
}

.instagram div {
	float: left;
	margin-left: 10px;
}

#container {
	min-width: 470px;
	height: 100%;
}

#nav {
	height: 10%;
	min-height: 100px;
	max-height: 100px;
}

#content {
	height: 80%;
}

#content #map {
	height: 60%;
}

#content .instagram {
	height: 40%;
}

#footer {
	width: 100%;
	background-color: #333;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKklEQVQIW2NkYGD4HxkeybB85XIGEICxGSPDI/+DBEECIABjM+LUQT2jAPX1LBMNkrqMAAAAAElFTkSuQmCC) repeat;
	clear: both;
	bottom: 0px;
	z-index: 10;
	padding: 10px 0;
	text-align: center;
}

#footer p {
	margin: 0;
	font-size: 14px;
}

#infoWindow {
	color: black;
	font-family: Helvetica, Arial;
	font-size: 13px;
	font-style: italic;
}
#infoWindow a {
	border: none;
}

#loadingImage {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	margin-top: 10px;
	top: 100%;
	text-align: center;
	font-size: 12px;
}
#loadingImage img {
	width: 30px;
}

a#about {
	margin-left: 20px;
}
#aboutBox {
	display: none;
	position: absolute;
	width: 300px;
	min-height: 300px;
	padding: 20px;
	background-color: #333;
	border: 1px solid black;
	border-radius: 5px;
	z-index: 100;
	font-size: 14px;
}

#aboutBox h2 {
	margin: 0;
	padding: 0;
}